body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.quiz {
    margin: 0 auto;
    width: 600px;
}

.quiz-questions {
   margin-top: 20px;
   margin-bottom: 20px;
}

.quiz-questions-item {
    margin-bottom: 20px;
}

.quiz-questions-item__question {
    font-size: 20px;
    margin-bottom: 20px;
}

.quiz-questions-item__answers {
    padding: 0;
    margin: 0;
    list-style: none;
}

.quiz-indicator {
    margin-bottom: 20px;
}

.btn-restart {
    display: none;
}

.quiz-results-item__question {
    font-size: 20px;
    margin-bottom: 20px;
}
.quiz-results-item__answers {
    padding: 0;
    margin: 0;
    list-style: none;
}

.quiz-results-item__answers li {
    margin-bottom: 5px;
}
.quiz-results-item {
    margin-bottom: 20px;
}
.quiz-results {
    display: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

.questions--hidden {
    display: none;
}

.indicator--hidden {
    display: none;
}

.btn-next--hidden {
    display: none;
}

.indicator--visable {
    display: block;
}

.btn-restart-visible {
    display: block;
}

.answer--invalid {
    color: red;
}

.answer--valid {
    color: green;
}

.answers-li {
    margin-bottom: 10px;
}